/*
The CSS code gets to executed from top to bottom and left to right
*/


/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/*style for Start Section*/

.start-section {
    color: #fff;
    background: #000;
    position: relative;
    display: none;
    text-align: justify;
}

.text {
    color: #fff;
    background: black;
    position: relative;
    height: auto;
    width: 1200px;
    border-radius: 3px;
    top: 15%;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.text h2 {
    margin: 1rem auto;
    padding: 0.4em;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
}

.text > p {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

#startQuizButton {
    font-family: 'australia-title';
    border-radius: 3px 3px 0 0;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
}

button:hover {
    background-color: #317873;
    color: #fff;
    cursor: pointer;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background-color: black;
    color: white;
    font-family: 'australia-title';
    font-size: 2rem;
}

header {
    text-align: center;
}

h2 {
    font-size: 4rem;
}

ol,
ul {
    list-style: none;
}

#believe {
    width: 50%;
    margin-top: 10px;
}

header,
section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

nav ul li:first-child {
    float: right;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.quiz > * {
    vertical-align: top;
}

.quizImage {
    width: 30%;
    display: inline-block;
}

.quizText {
    width: 66%;
    display: inline-block;
}

#qImage {
    width: 100%;
}

#qNumber {
    font-size: 30px;
    color: #faac26;
    margin-bottom: 1rem;
}

#questionText {
    font-size: 30px;
    color: #faac26;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.options {
    margin-bottom: 0.5rem;
}

input {
    margin-right: 1rem;
    display: none;
}

#choices {
    background: #f06524;
    color: white;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#choices li:hover {
    background-color: #317873;
}

a.new {
    font-family: 'australia-title';
    border-radius: 3px 3px 0 0;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
    background-color: #ddd;
    text-decoration: none;
}

a:hover {
    background-color: #317873;
    color: #fff;
}

#qResults {
    color: #faac26;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
